:root {
    /* layout */
    --page-width: 1280px;
    --body-width: 1280px;

    /* 背景影像（預設無） */
    --page-bg: none;

    /* spacing */
    --input-padding: 13px;

    /* 餘額區塊 */
    --balance-bg: rgb(255 255 255);
    --balance-text: rgb(0 0 0);
    --balance-tool-bg: rgb(210 211 216);
    --balance-tool-line: transparent;
    --balance-btn-bg: rgb(0 0 0);
    --balance-btn-bg-hover: rgb(0 0 0 / 50%);
    --balance-btn-text: rgb(255 255 255);
    --balance-btn-radius: 0px;

    /* 註冊 */
    --join-title: rgb(var(--color-primary-text));
    --join-subtitle: rgb(var(--color-primary-text));
    --join-text: #000;
    --join-captcha: rgb(var(--color-primary-text));
    --join-tips: rgb(var(--color-primary-text));
    --join-line: rgb(var(--color-primary-text) / 40%);
    --join-star: rgb(var(--color-primary-text));
    --join-input-focus: rgb(var(--color-secondary-text));
    --join-submit-bg: rgb(var(--color-primary-text));
    --join-submit-hover-bg: rgb(var(--color-secondary-text));
    --join-submit-text: rgb(var(--color-primary-bg));
    --join-submit-hover-text: rgb(var(--color-primary-bg));
    --join-submit-border: 0;
    --join-submit-radius: 6px;

    /* 共用色 */
    --color-red: 210 25 39;
    --color-primary: var(--color-primary-text);
    --color-secondary: var(--color-secondary-text);

    /* 預設主題（無品牌時的保底） */
    --color-primary-bg:     19 34 75;            /* #13224B */
    --color-secondary-bg:   8 15 34;             /* #080F22 */
    --color-tertiary-bg:    36 46 76;            /* #242E4C */
    --color-primary-text:   210 211 216;         /* #D2D3D8 */
    --color-secondary-text: 122 76 180;          /* #7A4CB4 */
}

/* dark */
:root[data-theme~="dark"] {
    --join-text: #fff;
}


/* 2501231 */
:root[data-theme~="2501231"] {
    --color-primary-bg:     19 34 75;          /* #13224B */
    --color-secondary-bg:   8 15 34;           /* #080F22 */
    --color-tertiary-bg:    36 46 76;          /* #242E4C */
    --color-primary-text:   210 211 216;       /* #D2D3D8 */
    --color-secondary-text: 122 76 180;        /* #7A4CB4 */
}

/* 2501232 */
:root[data-theme~="2501232"] {
    --color-primary-bg:     92 0 210;          /* #5C00D2 */
    --color-secondary-bg:   29 2 65;           /* #1D0241 */
    --color-tertiary-bg:    52 4 114;          /* #340472 */
    --color-primary-text:   187 181 248;       /* #BBB5F8 */
    --color-secondary-text: 228 100 248;       /* #E464F8 */
}

/* 2501233 */
:root[data-theme~="2501233"] {
    --color-primary-bg:     235 240 245;       /* #EBF0F5 */
    --color-secondary-bg:   217 223 250;       /* #D9DFFA */
    --color-tertiary-bg:    153 166 222;       /* #99A6DE */
    --color-primary-text:   66 81 129;         /* #425181 */
    --color-secondary-text: 122 76 180;        /* #7A4CB4 */
}

/* 2501234 */
:root[data-theme~="2501234"] {
    --color-primary-bg:     245 235 237;       /* #F5EBED */
    --color-secondary-bg:   250 217 223;       /* #FAD9DF */
    --color-tertiary-bg:    224 147 159;       /* #E0939F */
    --color-primary-text:   129 66 81;         /* #814251 */
    --color-secondary-text: 180 76 159;        /* #B44C9F */
}